<!DOCTYPE html>
<html lang="en">
{{>head}}
  <body> 
<main> 
   <header>
    {{>header}}
    </header>
<div class="container"> 
<img src="../../img/alex.png" alt="">
<div class="aboutme flex">
<h3> Hi! My name is {{creator}} </h3>
<p> This is my little weather app project that I've built using: </p> <br>
<p> <span>JavaScript ES6</span>  (Client side logic and rendering) </p>
<p> <span>Node.js</span> (Server side logic) </p>
<p> <span>Express.js </span> (Routing and GET call to APIs)</p>
<p> <span>HTML & CSS</span> (Basic styling and page structure)</p>
<p><a href="https://openweathermap.org/api"> <span>OpenWeather API</span> </a> (Getting real time weather data)</p>
<p><a href="https://docs.mapbox.com/api/overview/"> <span>Mapbox API</span> </a> (Generating Geolocation coordinates based on locatin search)</p>
</div>
</main>
  </body>
</html>