<!DOCTYPE html>
<html lang="en">
{{>head}}
  <body>
<main> 
<header>
    {{>header}}
    </header>
    <div class="container"> 
<p> 1. Enter a desired city </p>
<p> 2. Press search </p>
<p> 3. The data will be displayed in Celsius.</p>
    </div>
</main>
  </body>
</html>