<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
<main> 
  <header>
    {{>header}}
</header>
<div class="container index"> 
<form id="weather" action="">
<input type="text" name="search" id="search" placeholder="Search for a city ie: London ">
<button id="searchBtn"> <i class="fa fa-search" aria-hidden="true"></i>
 </button>
</form>
<div class="report">
<img class="inu" src="../../img/inu.png" alt="inu">
<h4 class="loading error"></h4>
</div>
</div>
</main>
 <script src="/js/app.js"></script>
  </body>
</html>




